<?xml version="1.0"?>

<launch>
    <arg name="map_file" default="$(find second_challenge_hori)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
     <node pkg="rosbag" name="play" type="play" args="--clock $(env HOME)/map.bag"/>
    <param name="use_sim_time" value="true" type="bool"/>
    <node pkg="second_challenge_hori" type="localizer" name="localizer" output="screen">
        <rosparam file="$(find second_challenge_hori)/config/param/localizer.yaml" command="load"/>
    </node>
    <node pkg="second_challenge_hori" type="instant_gpp" name="instant_gpp">
        <param name="hz" value="1" type="int"/>
    </node>
    <node pkg="second_challenge_hori" type="local_goal_creator" name="local_goal_creator">
        <param name="hz" value="10" type="int"/>
        <param name="local_goal_dist" value="4.0" type="double"/>
    </node>
    <node pkg="second_challenge_hori" type="local_map_creator" name="local_map_creator" output="screen">
        <rosparam file="$(find second_challenge_hori)/config/param/local_map_creator.yaml" command="load"/>
    </node>
    <node pkg="second_challenge_hori" type="local_path_planner" name="local_path_planner">
        <rosparam file="$(find second_challenge_hori)/config/param/local_path_planner.yaml" command="load"/>
    </node>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find second_challenge_hori)/config/rviz/dev_merge.rviz" output="screen"/>
    <node pkg="second_challenge_hori" type="roomba_spec_test" name="roomba_spec_test" output="screen">
        <rosparam file="$(find second_challenge_hori)/config/param/roomba_spec_test.yaml" command="load"/>
    </node>
</launch>
